@import "../abstract/";

.element {
    color: $primary-gray;
    font-size: $font-xxx;
    font-family: $font-family;
    font-weight:800;
}

p {
    color: $primary-gray;
    font-size: $font-x;
    font-family: $font-family;
    font-weight:800;
}