.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.8rem;

  &--2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Full Page container layout
.page_container {
  width: 100vw;
  height: 100vh;

  display: grid;

  &--centered {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
  }

}

.middle_container {
  max-width: 100%;
  grid-row: 2 / 3;
  display: grid;
  text-align: center;
  // align-self: center;
  // justify-self: center;
}

.section-auto {
  display: grid;
  grid-gap: 10px;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
  // align-content: center;
  justify-items: center;
}
